<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <script type="text/javascript" src="//trusted.shuidi.cn/trusted.js?id=1127&jump=0"></script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
