@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>拜仑财经-APP下载</title>
    <meta charset="utf-8" />
    <link href="/Styles/dist/Public/public.css?v=13763e8aed" rel="stylesheet" />
    <link href="~/Styles/dist/download/app.css?v=803de3ae45" rel="stylesheet" />
    <link href="~/Styles/dist/sharedView/mask.css?v=27a1a4533b" rel="stylesheet" />
    <script>
            function IsPC() {
                var userAgentInfo = navigator.userAgent;
                var Agents = ["Android", "iPhone",
                            "SymbianOS", "Windows Phone",
                            "iPad", "iPod"];
                var flag = true;
                for (var v = 0; v < Agents.length; v++) {
                    if (userAgentInfo.indexOf(Agents[v]) > 0) {
                        flag = false;
                        break;
                    }
                }
                return flag;
            }

            if (!IsPC()) { location.href = "/download/mobileapp"; }
    </script>
    
</head>
<body>
    <script src="~/Scripts/dist/sharedView/mask.js?v=67881201a0"></script>
    <ul class="onepage-pagination">
        <li><a data-index="1" href="#1" class=""></a></li>
        <li><a data-index="2" href="#2" class=""></a></li>
        <li><a data-index="3" href="#3" class=""></a></li>
        <li><a data-index="4" href="#4" class=""></a></li>
    </ul>
    <div class="main onepage-wrapper">
        <div class="page section news" data-index="1">
            <div class="content rightIn">
                <div class="wrap">
                    <h1>即时新闻</h1>
                    <p class="description">聚合华尔街见闻、金十数据、FX678、 FX168、Daliyfx <br />博采众长，一览无余</p>
                    <div class="download-area">
                        <ul class="button-group">
                            <li class="apple">
                                <img src="~/Images/download/apple.png" />
                                <span>即将上线</span>
                            </li>
                            <li class="android">
                                <a href="https://gafxchatimage.fx110.com/api/bailun/bailunfinance_v1.0.apk">
                                    <img src="~/Images/download/android.png" />
                                    <span>Android下载</span>
                                </a>
                            </li>
                        </ul>
                        <div class="scan">
                            <img src="~/Images/news/bailun-scan.png" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="next-page">
                <img src="~/Images/download/next.png" />
            </div>
        </div>
        <div class="page section calendar" data-index="2">
            <div class="content">
                <div class="wrap">
                    <h1>财经日历</h1>
                    <p class="description">对比历史数据看懂趋势<br /> 读数据分析详解疑惑</p>
                    <div class="download-area">
                        <ul class="button-group">
                            <li class="apple">
                                <img src="~/Images/download/apple.png" />
                                <span>即将上线</span>
                            </li>
                            <li class="android">
                                <a href="https://gafxchatimage.fx110.com/api/bailun/bailunfinance_beta.apk">
                                    <img src="~/Images/download/android.png" />
                                    <span>Android下载</span>
                                </a>
                            </li>
                        </ul>
                        <div class="scan">
                            <img src="~/Images/news/bailun-scan.png" />
                        </div>
                    </div>

                </div>
                
            </div>
            <div class="next-page">
                <img src="~/Images/download/next.png" />
            </div>
        </div>
        <div class="page section price" data-index="3">
            <div class="content">
                <div class="wrap">
                    <h1>市场报价</h1>
                    <p class="description">囊括外汇、贵金属、大宗商品、股指、股指期货、债券、比特币等报价信息 实现最快、最全、最便捷的 多品种即时市场报价</p>
                    <div class="download-area">
                        <ul class="button-group">
                            <li class="apple">
                                <img src="~/Images/download/apple.png" />
                                <span>即将上线</span>
                            </li>
                            <li class="android">
                                <a href="https://gafxchatimage.fx110.com/api/bailun/bailunfinance_beta.apk">
                                    <img src="~/Images/download/android.png" />
                                    <span>Android下载</span>
                                </a>
                            </li>
                        </ul>
                        <div class="scan">
                            <img src="~/Images/news/bailun-scan.png" />
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="next-page">
                <img src="~/Images/download/next.png" />
            </div>
        </div>
        <div class="page section indicator" data-index="4">
            <div class="content">
                <div class="wrap">
                    <h1>宏观数据</h1>
                    <p class="description">正在完善，敬请期待！</p>
                    <div class="download-area">
                        <ul class="button-group">
                            <li class="apple">
                                <img src="~/Images/download/apple.png" />
                                <span>即将上线</span>
                            </li>
                            <li class="android">
                                <a href="https://gafxchatimage.fx110.com/api/bailun/bailunfinance_beta.apk">
                                    <img src="~/Images/download/android.png" />
                                    <span>Android下载</span>
                                </a>
                            </li>
                        </ul>
                        <div class="scan">
                            <img src="~/Images/news/bailun-scan.png" />
                        </div>
                    </div>
                </div>
                
            </div>            
        </div>
    </div>
    <script src="~/Scripts/glup/jquery/jquery-1.8.3.min.js?v=e128811631"></script>
    <script src="~/Scripts/glup/jquery/jquery.onepage-scroll.js?v=116635985c"></script>
    <script>
       
       

        $(function () {
            var browser = navigator.appName
            var b_version = navigator.appVersion
            var version = b_version.split(";");
            var trim_Version = "";
            try { trim_Version = version[1].replace(/[ ]/g, "") } catch (e) { }
            $('.main').onepage_scroll({
                sectionContainer: '.page',
                loop: false,
                afterMove: function (index) {
                    ga(index)
                  
                    
                }
            });

            ga(parseInt(location.hash.split('#')[1]))
            

            $('.next-page').on('click', function () {
                $('.main').moveDown();
            })
        });

        function ga(index) {
            if (browser == "Microsoft Internet Explorer" && trim_Version == "MSIE9.0") {

                switch (index) {
                    case 1:
                        $('.news>.content').addClass('rightIn');
                        break;
                    case 2:
                        // testAnim('leftIn', '.calendar');
                        $('.calendar>.content').addClass('leftIn');
                        break;
                    case 3:
                        // testAnim('rightIn', '.price');
                        $('.price>.content').addClass('rightIn');
                        break;
                    case 4:
                        // testAnim('leftIn', '.indicator');
                        $('.indicator>.content').addClass('leftIn');
                        break;
                }
            } else {
                switch (index) {
                    case 1:
                        testAnim('rightIn', '.news');

                        break;
                    case 2:
                        testAnim('leftIn', '.calendar');
                        break;
                    case 3:
                        testAnim('rightIn', '.price');
                        break;
                    case 4:
                        testAnim('leftIn', '.indicator');
                        break;
                }
            }


        }

        function testAnim(x,el) {
            //$( el + ' .content .wrap').removeClass().addClass(x + ' animated').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function () {
            //    $(this).removeClass();
            //});
            if (!$(el + ' .content').hasClass(x)) {
                $(el + ' .content').addClass(x)
            }
        };

    </script>
    @if (!string.IsNullOrEmpty(CustomConfig.Cnzz))
    {
        <span style="filter:alpha(opacity=0);-moz-opacity:0;opacity:0;display:none"><script src="@CustomConfig.Cnzz" language="JavaScript"></script></span>
    } 
</body>
</html>



