
@{
    Layout = null;
}
<div class="box price-item">
    <div class="heading clearfix">
        <h3>比特币</h3>
        <span><a href="/marketprice/list/bitcoin">更多></a></span>
    </div>
    <div class="content">
        <ul class="clearfix" id="bitcoinData"></ul>

    </div>
</div>
