
@{
    Layout = null;
}

<div class="box price-item">
    <div class="heading clearfix">
        <h3>大宗商品</h3>
        <span><a href="/marketprice/list/goods">更多></a></span>
    </div>
    <div class="content">
        <ul class="clearfix" id="goodsData"></ul>

    </div>
</div>
