
@{
    Layout = null;
}
<div class="box price-item">
    <div class="heading clearfix">
        <h3>股指期货</h3>
        <span><a href="/marketprice/list/stockIndex">更多></a></span>
    </div>
    <div class="content">
        <ul class="clearfix" id="stockIndexData"></ul>

    </div>
</div>
