
@{
    Layout = null;
}
<div class="box price-item">
    <div class="heading clearfix">
        <h3>贵金属</h3>
        <span><a href="/marketprice/list/metals">更多></a></span>
    </div>
    <div class="content">
        <ul class="clearfix" id="metalsData">
            <li data-code="USDOLLARINDEX" class="down">
                <div class="params">
                    <div class="name clearfix"><h5>美元指数</h5></div>
                    <div class="data-area">
                        <h3 class="current">93.49<i></i></h3>
                        <p class="updowns"><em class="percent">-0.37%</em><em>-0.35</em></p>
                    </div>
                </div>
                <div class="chart" id="chartLine158764" data-highcharts-chart="1">
                </div>
                <a href="/marketprice/detail/158764" target="_blank"></a>
            </li>
        </ul>

    </div>
</div>
