
@{
    Layout = null;
}

<div class="box price-item">
    <div class="heading clearfix">
        <h3>股指</h3>
        <span><a href="/marketprice/list/indices">更多></a></span>
    </div>
    <div class="content">
        <ul class="clearfix" id="indicesData"></ul>

    </div>
</div>
