/* 
 * My97 DatePicker 4.8 Skin:whyGreen
 */ 
.WdateDiv{
	width:260px;
	background-color:#fff;
	border:#ddd 1px solid;
	border-radius: 3px;
    overflow: hidden;
    /*height:210px;*/
}

.WdateDiv2{
	width:360px;
}
.WdateDiv *{font-size:9pt;}

.WdateDiv .navImg a{
	cursor:pointer;
	display:block;
	width:16px;
	height:16px;
	margin-top:7px;
}

.WdateDiv .NavImgll a{
	float:left;
	background:url(img.gif) no-repeat;
}
.WdateDiv .NavImgl a{
	float:left;
	background:url(img.gif) no-repeat -16px 0px;
}
.WdateDiv .NavImgr a{
	float:right;
	background:url(img.gif) no-repeat -32px 0px;
}
.WdateDiv .NavImgrr a{
	float:right;
	background:url(img.gif) no-repeat -48px 0px;
}

.WdateDiv #dpTitle{
	height:30px;
	border:none;
	background:#329fd9;
    padding: 0 4px;
    overflow:hidden;
}

.WdateDiv .yminput{
	line-height:30px;
	text-align:center;
	border:0px;
	height:30px;
	width:90px;
	color:#fff;
	background-color:transparent;
	cursor:pointer;
}

.WdateDiv .yminputfocus{
	line-height:30px;
	text-align:center;
	border:0;
	
	color:#636363;	
	height:30px;
	width:90px;
}

.WdateDiv .menuSel{
	z-index:1;
	position:absolute;
	background-color:#FFFFFF;
	border:#ddd 1px solid;
    width:88px;
    width:90px\9;
	display:none;
}

.WdateDiv .menuSel table{ width:100%;}

.WdateDiv .menu{
	cursor:pointer;
	background-color:#fff;
	color:#636363;
    text-align:center;
}

.WdateDiv .menuOn{
	cursor:pointer;
	background-color:#BEEBEE;
    text-align:center;
}

.WdateDiv .invalidMenu{
	color:#aaa;
}

.WdateDiv .YMenu{
	margin-top:30px;
}

.WdateDiv .MMenu{
	margin-top:30px;
	*width:62px;
}

.WdateDiv .hhMenu{
	margin-top:-90px; 
	margin-left:26px;
}

.WdateDiv .mmMenu{
	margin-top:-46px; 
	margin-left:26px;
}

.WdateDiv .ssMenu{
	margin-top:-24px; 
	margin-left:26px;
}

 .WdateDiv .Wweek {
 	text-align:center;
	background:#DAF3F5;
	border-right:#BDEBEE 1px solid;
 }

.WdateDiv .MTitle{
	color:#fff;
	background-color:#329fd9;
}
.WdateDiv .WdayTable2{
	border-collapse:collapse;
	border:#BEE9F0 1px solid;
}
.WdateDiv .WdayTable2 table{
	border:0;
}

.WdateDiv .WdayTable{
	line-height:25px;	
	color:#636363;
	background-color:#fff;
	
}
.WdateDiv .WdayTable td{
	text-align:center;    
}

.WdateDiv .Wday{
	cursor:pointer;    
}

.WdateDiv .WdayOn{
	cursor:pointer;
	background-color:#329fd9 ;
    color:#fff;
}

.WdateDiv .Wwday{
	cursor:pointer;
	color:#ab1e1e;
}

.WdateDiv .WwdayOn{
	cursor:pointer;
	background-color:#74d2d9;
}
.WdateDiv .Wtoday{
	cursor:pointer;
	color: #fff;
    background: #ffae29;
    /*border-radius: 100%;*/
    /*width: 25px;*/
}
.WdateDiv .Wselday{
	background-color:#329fd9;
    color:#fff;
}
.WdateDiv .WspecialDay{
	background-color:#66F4DF;
}

.WdateDiv .WotherDay{ 
	cursor:pointer;
	color:#0099CC;	
}

.WdateDiv .WotherDayOn{ 
	cursor:pointer;
	background-color:#44b4ff;	
}

.WdateDiv .WinvalidDay{
	color:#ddd;
}

.WdateDiv #dpTime{
	float:left;
	margin-top:3px;
	margin-right:30px;
}

.WdateDiv #dpTime #dpTimeStr{
	margin-left:1px;
	color:#497F7F;
}

.WdateDiv #dpTime input{
	height:20px;
	width:18px;
	text-align:center;
	color:#333;
	border:#61CAD0 1px solid;	
}

.WdateDiv #dpTime .tB{
	border-right:0px;
}

.WdateDiv #dpTime .tE{
	border-left:0;
	border-right:0;
}

.WdateDiv #dpTime .tm{
	width:7px;
	border-left:0;
	border-right:0;
}

.WdateDiv #dpTime #dpTimeUp{
	height:10px;
	width:13px;
	border:0px;
	background:url(img.gif) no-repeat -32px -16px;
}

.WdateDiv #dpTime #dpTimeDown{
	height:10px;
	width:13px;
	border:0px;
	background:url(img.gif) no-repeat -48px -16px;
}

 .WdateDiv #dpQS {
 	float:left;
	margin-right:3px;
	margin-top:3px;
	background:url(img.gif) no-repeat 0px -16px;
	width:20px;
	height:20px;
	cursor:pointer;
 }
.WdateDiv #dpControl {
	text-align:right;
	margin-top:3px;
    padding: 0 8px 8px 0;
}
.WdateDiv .dpButton{ 
	height:20px;
	width:45px;
	margin:2px;
	border:#ddd 1px solid;
	color:#636363;
    background:none;
    cursor:pointer;
}
.WdateDiv .dpButton:hover{ 
	border:#14a4ff 1px solid;
	color:#14a4ff;
}