
<div class="bdsharebuttonbox">
    <a href="javascript:;" data-bshare='{type:"weixin",url:"",title:"",desc:"",summary:"" }' class="weixin iconfont" title="分享到微信">&#xe50a;</a>
    <a href="javascript:;" data-bshare='{type:"weibo",url:"",title:"",desc:"",summary:"" }' class="weibo iconfont" title="分享到新浪微博">&#xe504;</a>
    <a href="javascript:;" data-bshare='{type:"qzone",url:"",title:"",desc:"",summary:"" }' class="qq iconfont" title="分享到QQ空间">&#xe64e;</a>
   @* <a href="#" class="bds_weixin iconfont col" data-cmd="weixin" title="分享到微信">&#xe50a;</a><a href="#" class="bds_tsina iconfont col" data-cmd="tsina" title="分享到新浪微博">&#xe504;</a><a href="#" class="bds_qzone iconfont col" data-cmd="qzone" title="分享到QQ空间">&#xe64e;</a>*@
</div>
