
<div class="control-bar clearfix">
    <div class="control-left">
        <span class="change-color">
            <i class="up"></i><i class="down"></i><em>红涨绿跌</em>
        </span>
        <span class="time-count">
            <i></i><em>全球股市</em>
            <label></label>
            <div class="set-box">
                <ul>
                    <li>
                        <h3>香港</h3>                        
                        <p class="hkstock-status"></p>
                    </li>
                    <li>
                        <h3>纽约</h3>
                        <p class="nystock-status"></p>
                    </li>
                    <li>
                        <h3>伦敦</h3>
                        <p class="ukstock-status"></p>
                    </li>
                    <li>
                        <h3>新加坡</h3>
                        <p class="sgstock-status"></p>
                    </li>
                    <li>
                        <h3>东京</h3>
                        <p class="jpstock-status"></p>
                    </li>
                </ul>
                <b class="shape"></b>
            </div>
        </span>
    </div>
    <div class="search-bar">
        <input type="text" class="keywords"/>
        <img src="~/Images/marketPrice/search-icon.png" class="search-btn"/>
        <div class="set-box">
            <table> 
                <thead>
                    <tr><th>名称</th><th>代码</th></tr>  
                </thead>               
                 <tbody>
                     
                 </tbody>                               
            </table>
            <b class="shape"></b>
        </div>
    </div>
</div>
