<div class="price-nav">         
    <ul class="clearfix">
        <li data-active="marketIndex"><a href="/marketprice/index">主要</a></li>
        <li data-active="forex"><a href="/marketprice/list/forex">外汇</a></li>
        @*<li data-active="cfdindices"><a href="/marketprice/list/cfdindices">外汇期货</a></li>*@
        <li data-active="metals"><a href="/marketprice/list/metals">贵金属</a></li>
        <li data-active="goods"><a href="/marketprice/list/goods">大宗商品</a></li>
        <li data-active="indices"><a href="/marketprice/list/indices">股指</a></li>
        <li data-active="stockIndex"><a href="/marketprice/list/stockIndex">股指期货</a></li>
        @*<li data-active="ashares"><a href="/marketprice/ashares">沪深</a></li>
        <li data-active="hkstock"><a href="/marketprice/hkstock">港股</a></li>
        <li data-active="usstock"><a href="/marketprice/usstock">美股</a></li>*@
        <li data-active="bonds"><a href="/marketprice/list/bonds">债券</a></li>
        <li data-active="bitcoin"><a href="/marketprice/list/bitcoin">比特币</a></li>
    </ul>    
</div>
<script src="~/Scripts/dist/sharedView/priceMap.js?v=6f5c2a3c4a"></script>