
    <i class="shape"></i>
    <ul class="bdsharebuttonbox">
        <li><a href="javascript:;" data-bshare='{type:"weixin",url:"",title:"",desc:"",summary:"" }' class="weixin"><span></span>微信</a></li>
        <li><a href="javascript:;" data-bshare='{type:"weibo",url:"",title:"",desc:"",summary:"" }' class="weibo"><span></span>微博</a></li>
        <li><a href="javascript:;" data-bshare='{type:"qzone",url:"",title:"",desc:"",summary:"" }' class="qq"><span></span>QQ</a></li>
    </ul>

